<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./style/style.css">       
    <title>Weather App</title>
</head>

<body>    
    <h1>About Me</h1>
    {{>header}}  
    <img src="/img/Pirate king.jpeg">
    {{>footer}}
</body>

</html>