<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./style/style.css">
    {{!-- <script src="./js/app.js"></script>     --}}
    <title>Weather App</title>
</head>

<body>      
    <h1>Help</h1>    
    {{>header}}      
    {{>footer}}

</body>

</html>