<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./style/style.css">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>